
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ddd;
    padding: 20px;
    border-radius: 8px;
   box-shadow: black;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

    
.table {
    width: 40%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #060606;
}

.table th, .table td {
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
}

